::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-wrap: break-word;
    background: #f0f0f0;
    color: #005b9e;
    font-size: 18px;
}

body, h1, h2, h3, h4, p, ul, li, a {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: Montserrat, sans-serif;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
}

section {
    padding: 200px 0;
}

.active-link {
    color: #03d0d7;
}

.show-element {
    opacity: 1 !important;
    transition: all 1000ms ease-in-out;
}

.move-element-right {
    opacity: 1 !important;
    left: 0 !important;
    transition: all 1000ms ease-in-out;
}

.move-element-left {
    opacity: 1 !important;
    left: 0 !important;
    transition: all 1000ms ease-in-out;
}

.move-element-up {
    opacity: 1 !important;
    top: 0 !important;
    transition: all 1000ms ease-in-out;
}

.show-menu {
    transition: all 5000ms ease-in-out;
    right: 0 !important;
}

/**/
/**/
/**/
/**/
/**/
/**/
/*NAVBAR*/
/**/
nav {
    height: 70px;
    display: flex;
    position: fixed;
    background: #f0f0f0;
    width: 100%;
    z-index: 10;
    transition: all 200ms ease-in-out;
}

.nav-shadow {
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 91, 158, 0.46);
    -moz-box-shadow: 0 15px 30px 0 rgba(0, 91, 158, 0.46);
    box-shadow: 0 15px 30px 0 rgba(0, 91, 158, 0.46);
    transition: 400ms ease-in-out;
}

#navbar-logo-text {
    margin-right: 20px;
}

#navbar-logo-container {
    font-family: Montserrat, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px
}

#navbar-logo {
    width: 67px;
    height: 40px;
    background: url("img/logo.jpeg");
    background-size: cover;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 30px 0 rgba(0, 91, 158, 0.46);
    -moz-box-shadow: 10px 10px 30px 0 rgba(0, 91, 158, 0.46);
    box-shadow: 10px 10px 30px 0 rgba(0, 91, 158, 0.46);
}

#navbar-menu-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#menu {
    width: 40px;
    height: 32px;
    right: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
}

#menu span {
    display: block;
    position: absolute;
    height: 7px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#menu span:nth-child(1) {
    background: #005b9e;
    top: 0;
}

#menu span:nth-child(2), #menu span:nth-child(3) {
    background: #03d0d7;
    top: 12px;
}

#menu span:nth-child(4) {
    background: #005b9e;
    top: 24px;
}

#menu.open span:nth-child(1) {
    width: 0;
    left: 50%;
}

#menu.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#menu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#menu.open span:nth-child(4) {
    width: 0;
    left: 50%;
}

#menu-list {
    position: absolute;
    padding-left: 100px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

#menu-list > li {
    font-size: 110%;
    padding: 15px 30px;
    transition: 200ms ease-in-out;
}

#menu-list > li:hover {
    cursor: pointer;
    color: #03d0d7;
}

/**/
/**/
/**/
/**/
/**/
/**/
/*ABOUT*/
/**/
#about {
    display: flex;
    flex-direction: column;
}

#about-header {
    opacity: 0;
}

#about-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-header1 {
    font-family: Montserrat, sans-serif;
    font-size: 70px;
    color: #03d0d7;
    opacity: 0;
}

#about-header2 {
    font-family: Montserrat, sans-serif;
    font-size: 50px;
    margin-left: 10px;
    position: relative;
    opacity: 0;
    left: -100px;
}

#about-header3 {
    font-family: Montserrat, sans-serif;
    font-size: 50px;
    margin-left: 20px;
    position: relative;
    opacity: 0;
    left: -100px;
}

#about-header4 {
    font-family: Montserrat, sans-serif;
    font-size: 50px;
    margin-left: 30px;
    position: relative;
    opacity: 0;
    left: -100px;
}

#about-header-image {
    width: 300px;
    height: 180px;
    background: url("img/logo.jpeg");
    background-size: cover;
    position: relative;
    opacity: 0;
    left: 200px;
    margin-left: 100px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 30px 0 rgba(0, 91, 158, 0.46);
    -moz-box-shadow: 10px 10px 30px 0 rgba(0, 91, 158, 0.46);
    box-shadow: 10px 10px 30px 0 rgba(0, 91, 158, 0.46);

}

#about-description-container {
    padding: 150px 100px 0;
    display: flex;
    align-items: center;
}

#about-description-image {
    height: 500px;
    margin-right: 100px;
    background: url("img/front-photo.jpg");
    -webkit-box-shadow: 10px 10px 30px 0 rgba(0, 91, 158, 0.46);
    -moz-box-shadow: 10px 10px 30px 0 rgba(0, 91, 158, 0.46);
    box-shadow: 10px 10px 30px 0 rgba(0, 91, 158, 0.46);
    border-radius: 10px;
    width: 450px;
    opacity: 0;
}

#about-description1, #about-description2 {
    opacity: 0;
    position: relative;
    top: 100px;
}

#about-description p {
    padding-top: 10px;
}

#about-description h4 {
    color: #03d0d7;
    font-family: Montserrat, sans-serif;
}

#about-description1 p {
    text-align: justify;
}

#about-description1 h4, #about-description1 p {
    font-size: 125%;
}

#about-description2 {
    text-align: center;
    padding: 75px 20px 0;
}

#about-description2 p {
    text-align: center;
}

/**/
/**/
/**/
/**/
/**/
/**/
/*OFFER*/
/**/
#offer {
    background-color: #f1f1f1;
    padding-bottom: 300px;
}

#offer-header {
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    text-align: center;
    line-height: 2;
    padding: 0 150px;
    position: relative;
    top: 100px;
    opacity: 0;
}

#offer-grid-container {
    padding: 100px 150px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 125px 75px;
    grid-auto-rows: 350px;
}

.offer-grid-element {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 30px 0 rgba(0, 91, 158, 0.46);
    -moz-box-shadow: 10px 10px 30px 0 rgba(0, 91, 158, 0.46);
    box-shadow: 10px 10px 30px 0 rgba(0, 91, 158, 0.46);
    position: relative;
}

#offer-pursemaking {
    background: url("img/offer-pursemaking.jpg");
    background-size: cover;
    opacity: 0;
}

#offer-shoemaking {
    background: url("img/offer-shoemaking.jpg");
    background-size: cover;
    opacity: 0;
}

#offer-tools {
    background: url("img/offer-tools.jpg");
    background-size: cover;
    opacity: 0;
}

#offer-upholstering {
    background: url("img/offer-upholstering.jpg");
    background-size: cover;
    opacity: 0;
}

#offer-leathers {
    background: url("img/offer-leathers.jpg");
    background-size: cover;
    opacity: 0;
}

#offer-other {
    background: url("img/offer-other.jpg");
    background-size: cover;
    opacity: 0;
}

.grid-element-content {
    flex: 0.85;
}

.grid-element-caption {
    font-family: Montserrat, sans-serif;
    flex: 0.15;
    background-color: #03d0d7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.overlay {
    border-radius: 5px;
    background-color: black;
    height: 85%;
    width: 100%;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    position: absolute;
    text-align: center;
}

.offer-grid-element:hover {
    opacity: 0;
}

.offer-grid-element:hover .overlay {
    opacity: 0.6;
}

.overlay-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 10px;
}

.overlay-text ul {
    list-style-type: none;
}

/**/
/**/
/**/
/**/
/**/
/**/
/*CONTACT*/
/**/
#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url("img/contact-bg.jpg");
    background-size: cover;
    color: white;
    font-family: Montserrat, sans-serif;
}

#contact h1 {
    margin-bottom: 50px;
}

#form {
    font-size: 120%;
    padding: 50px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.form-row {
    display: flex;
    flex-direction: row;
    flex: 1;

}

textarea {
    resize: vertical;
}

#form-elements {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fieldset {
    width: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    border-bottom: 1px solid white;
}

input, textarea {
    font-size: 120%;
    background: transparent;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

textarea:focus, input:focus {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

input[type=button] {
    font-family: Montserrat, sans-serif;
}

.thank-you-msg, .button {
    margin-top: 50px;
}

.thank-you-msg {
    line-height: 48px;
}

.button {
    border-radius: 4px;
    background: transparent;
    border: 2px solid white;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    color: white;
    font-family: Montserrat, sans-serif;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/**/
/**/
/**/
/**/
/**/
/**/
/*LOCATION*/
/**/
#location {
    display: flex;
    flex-direction: column;
    height: 900px;
}

#location-header {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 55px;
    color: #03d0d7;
    margin-bottom: 100px;
    opacity: 0;
    position: relative;
    top: 100px;
}

#location-content {
    display: flex;
    flex: 1;
}

#business-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.5;
}

#business-card {
    font-size: 150%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.business-card-element, .business-card-element p {
    text-align: center;
}

.business-card-element {
    line-height: 1.5;
}

.business-card-element i {
    color: #03d0d7;
    font-size: 150%;
}

#business-card-contact i {
    padding-right: 10px;
    font-size: 100%;
}

#map-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.5;
}

#map, #business-card {
    padding: 30px 20px;
    height: 100%;
    width: 80%;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 30px 0 rgba(0, 91, 158, 0.46);
    -moz-box-shadow: 10px 10px 30px 0 rgba(0, 91, 158, 0.46);
    box-shadow: 10px 10px 30px 0 rgba(0, 91, 158, 0.46);
    opacity: 0;
}

/**/
/**/
/**/
/**/
/**/
/**/
/*FOOTER*/
/**/
footer {
    border-top: 2px solid #03d0d7;
    display: flex;
    flex-direction: column;
}

#footer-container {
    display: flex;
}

#footer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-element {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer-contact-container {
    flex: 1;
}

#footer-hours-container {
    flex: 1;
}

#footer-hours-container2 {
    flex: 1;
}

#copyright {
    background-color: #03d0d7;
    width: 100%;
    color: white;
    transition: all 500ms ease-in-out;
}

#copyright a {
    color: white;
}

#copyright i:hover {
    cursor: pointer;
    color: #005b9e;
    transition: all 500ms ease-in-out;
}

@media (max-width: 1024px) {
    section {
        padding: 100px 0;
    }

    nav {
        height: 60px;
    }

    #navbar-logo-text {
        display: none;
    }

    #navbar-menu-container {
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    #menu {
        display: flex;
    }

    #menu-list {
        flex-direction: column;
        top: 60px;
        right: -263px;
        border: 2px solid #005b9e;
        z-index: 10;
        background-color: #f0f0f0;
        transition: all 500ms ease-in-out;
    }

    #menu-list li {
        position: relative;
    }

    #about {
        padding-top: 250px;
    }

    #about-header {
        padding: 20px 50px;
        border: 2px solid #03d0d7;
    }

    #about-header1 {
        font-size: 50px;
    }

    #about-header2 {
        font-size: 40px;
    }

    #about-header3 {
        font-size: 40px;
    }

    #about-header4 {
        font-size: 40px;
    }

    #about-header-image {
        display: none;
    }

    #about-description-container {
        padding: 100px 10px;
    }

    #about-description h4, #about-description p {
        text-align: center;
    }

    #about-description-image {
        display: none;
    }

    #offer-header {
        font-size: 20px;
        padding: 0 10px;
    }

    #offer-grid-container {
        padding: 100px 30px 0;
        grid-template-columns: 1fr;
        grid-gap: 75px;
    }

    .overlay-text {
        font-size: 75%;
    }

    .grid-element-caption p {
        font-size: 90%;
    }

    .thank-you-msg {
        font-size: 80%;
    }

    #location-header {
        font-size: 45px;
    }

    #location-content {
        flex-direction: column;
    }

    #business-card-container {
        margin-bottom: 100px;
    }

    #business-card {
        font-size: 110%;
    }

    #footer {
        flex-direction: column;
    }

}