body {
    font-family: 'Roboto', sans-serif;
    overflow-wrap: break-word;
    background: #f0f0f0;
    color: #005b9e;
    font-size: 18px;
}

body, h1, h2, h3, h4, p, ul, li, a {
    margin: 0;
    padding: 0;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
}

section {
    padding: 100px 0;
}

.show-element {
    opacity: 1 !important;
    transition: all 1000ms ease-in-out;
}

.move-element-right {
    opacity: 1 !important;
    left: 0 !important;
    transition: all 1000ms ease-in-out;
}

.move-element-left {
    opacity: 1 !important;
    left: 0 !important;
    transition: all 1000ms ease-in-out;
}

.move-element-up {
    opacity: 1 !important;
    top: 0 !important;
    transition: all 1000ms ease-in-out;
}

/**/
/**/
/**/
/**/
/**/
/**/
/*NAVBAR*/
/**/
nav {
    height: 70px;
    display: flex;
    position: fixed;
    background: #f0f0f0;
    width: 100%;
    z-index: 10;
    transition: 200ms ease-in-out;
}

.nav-shadow {
    -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 91, 158, 0.46);
    -moz-box-shadow: 0px 15px 30px 0px rgba(0, 91, 158, 0.46);
    box-shadow: 0px 15px 30px 0px rgba(0, 91, 158, 0.46);
    transition: 400ms ease-in-out;
}

#navbar-logo-container {
    font-family: Montserrat, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

#navbar-list {
    padding-left: 100px;
    flex-grow: 1;
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: center;
}

#navbar-list > li {
    font-size: 110%;
    padding: 15px 30px;
    transition: 200ms ease-in-out;
}

#navbar-list > li:hover {
    cursor: pointer;
    color: #03d0d7;
}

/**/
/**/
/**/
/**/
/**/
/**/
/*ABOUT*/
/**/
#about {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
}

#about-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-header1 {
    font-family: Montserrat, sans-serif;
    font-size: 70px;
    color: #03d0d7;
    opacity: 0;
}

#about-header2 {
    font-family: Montserrat, sans-serif;
    font-size: 50px;
    margin-left: 10px;
    position: relative;
    opacity: 0;
    left: -100px;
}

#about-header3 {
    font-family: Montserrat, sans-serif;
    font-size: 50px;
    margin-left: 20px;
    position: relative;
    opacity: 0;
    left: -100px;
}

#about-header4 {
    font-family: Montserrat, sans-serif;
    font-size: 50px;
    margin-left: 30px;
    position: relative;
    opacity: 0;
    left: -100px;
}

#about-header-image {
    width: 300px;
    height: 200px;
    border: 2px solid #03d0d7;
    position: relative;
    opacity: 0;
    left: 200px;
    margin-left: 100px;
}

#about-description-container {
    padding-top: 75px;
    display: flex;
    align-items: center;
}

#about-description-image {
    height: 500px;
    margin-left: 50px;
    margin-right: 100px;
    background: url("img/front-photo.jpg");
    -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 91, 158, 0.46);
    -moz-box-shadow: 10px 10px 30px 0px rgba(0, 91, 158, 0.46);
    box-shadow: 10px 10px 30px 0px rgba(0, 91, 158, 0.46);
    border-radius: 10px;
    width: 450px;
    opacity: 0;
}

#about-description1, #about-description2 {
    opacity: 0;
    position: relative;
    top: 100px;
}

#about-description h4 {
    padding-top: 40px;
}

#about-description p {
    padding-top: 10px;
    text-align: justify;
}

/**/
/**/
/**/
/**/
/**/
/**/
/*OFFER*/
/**/
#offer {
    background-color: #f1f1f1;
}

#offer-header {
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    text-align: center;
    line-height: 2;
    margin: 0 150px;
    position: relative;
    top: 100px;
    opacity: 0;
}

#offer-grid-container {
    padding: 100px 150px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 200px;
    grid-gap: 125px 75px;
    grid-auto-rows: 300px;
}

.offer-grid-element {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 91, 158, 0.46);
    -moz-box-shadow: 10px 10px 30px 0px rgba(0, 91, 158, 0.46);
    box-shadow: 10px 10px 30px 0px rgba(0, 91, 158, 0.46);
}

#offer-pursemaking {
    background: url("img/offer-pursemaking.jpg");
    background-size: cover;
    opacity: 0;
}

#offer-shoemaking {
    background: url("img/offer-shoemaking.jpg");
    background-size: cover;
    opacity: 0;
}

#offer-tools {
    background: url("img/offer-tools.jpg");
    background-size: cover;
    opacity: 0;
}

#offer-upholstering {
    background: url("img/offer-upholstering.jpg");
    background-size: cover;
    opacity: 0;
}

#offer-leathers {
    background: url("img/offer-leathers.jpg");
    background-size: cover;
    opacity: 0;
}

#offer-other {
    background: url("img/offer-other.jpg");
    background-size: cover;
    opacity: 0;
}

.grid-element-content {
    flex: 0.85;
}

.grid-element-caption {
    flex: 0.15;
    background-color: #03d0d7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

/**/
/**/
/**/
/**/
/**/
/**/
/*CONTACT*/
/**/
#contact {
    display: flex;
    flex-direction: column;
    height: 900px;
}

#contact-header {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 55px;
    color: #03d0d7;
    margin-bottom: 100px;
    opacity: 0;
    position: relative;
    top: 100px;
}

#contact-content {
    display: flex;
    flex: 1;
}

#business-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.5;
}

#business-card {
    font-size: 150%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.business-card-element, .business-card-element p {
    text-align: center;
}

.business-card-element {
    line-height: 1.5;
}

.business-card-element i {
    color: #03d0d7;
    font-size: 150%;
}

#business-card-contact i {
    padding-right: 10px;
    font-size: 100%;
}

#map-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.5;
}

#map, #business-card {
    height: 100%;
    width: 80%;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 91, 158, 0.46);
    -moz-box-shadow: 10px 10px 30px 0px rgba(0, 91, 158, 0.46);
    box-shadow: 10px 10px 30px 0px rgba(0, 91, 158, 0.46);
    opacity: 0;
}

#map:hover, #business-card:hover {

}

/**/
/**/
/**/
/**/
/**/
/**/
/*FOOTER*/
/**/
footer {
    border-top: 2px solid #03d0d7;
    display: flex;
    flex-direction: column;
}
#footer-container {
    display: flex;
}

#footer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-element {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer-contact-container {
    flex: 1;
}

#footer-hours-container {
    flex: 1;
}

#footer-hours-container2 {
    flex: 1;
}

#copyright-container {
}

#copyright {
    background-color: #03d0d7;
    width: 100%;
    color: white;
    transition: all 500ms ease-in-out;
}

#copyright a {
    color: white;
}

#copyright i:hover {
    cursor: pointer;
    color: #005b9e;
    transition: all 500ms ease-in-out;
}